body,html {
    font-family: Kanit;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    --l : 40%;
    transition: all 0.5s;
    scroll-behavior: smooth;
}

a {
    margin-top: 10;
    padding-left: 3vh;
}
.yel {
    color: rgb(250, 194, 40);
}
.qoute {
    font-family: Bebas Neue;
}
.q-size-h {
    font-size: 3.5vmin;
}
.q-size-n {
    font-size: 2vmin;
}
.page {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
#p-header {
    position: relative;
    overflow: hidden;
}
#q-icon {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    width: fit-content;
    height: 100%;
    left: 0%;
    right: 0%;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30vmin;
    letter-spacing: 0vw;
    text-align: center;
    color: rgb(250, 194, 40);
    position: absolute;
}
#q1-footer {
    width: max-content;
    position: absolute;
    color: rgb(250, 194, 40);
    border: rgb(250, 194, 40);
    border-style: solid none;
    /* text-decoration-line: underline;
    text-decoration-style: dotted; */
    top: 55vh;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3vmax;
}

#pic-header1 {
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: -40vh;
    position: absolute;
}

#pic-header2 {
    max-width: 100%;
    max-height: 100%;
    top: 0;
    right: -40vh;
    position: absolute;
}

.container {
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s;
    scroll-behavior: smooth;
}

.timeline {
    flex: none; 
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
    transition: all ;
}
#page3 {
    overflow-x: hidden;
}

            #name {
                position: absolute;
                left: 20vh;
                top: 20vh;
                font-size: 1.5vmax;
                color: rgb(250, 194, 40);
                
            }
            #year {
                position: absolute;
                left: 73vh;
                top: 10vh;
                font-size: 3vmax;
                border: rgb(250, 194, 40);
                border-style: none none none solid;
            }
            .icon {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 8vh;
                height: 8vh;
            }
            #pic-con1 {
                max-width: 100%;
                max-height: 100%;
                top: 0;
                left: -40vh;
                position: absolute;
            }

            #pic-con2 {
                max-width: 100%;
                max-height: 100%;
                top: 0;
                right: -40vh;
                position: absolute;
            }

            .dot-con {
                display: block;
                position: absolute;
                height: fit-content;
                top: 58.5vmin;
                font-size: 3vh;
            }

            #startcon {
                left: 38%;
            }
            #proglang {
                left: 68%;
                top: 62vmin; 
            }
            #htmllang {
                left:20%;
                top: 54vmin;
            }
            #csslang {
                left:45%;
                top: 54vmin;
            }
            #jslang {
                left:70%;
                top: 54vmin;
            }
            #tobecon {
                left: 16%;
            }
            #mycontact {
                font-size: 5vh;
                position: absolute;
                top: 10%;
                left: 40%;
            }
            #myproject {
                font-size: 5vh;
                position: absolute;
                top: 40%;
                left: 40%;
            }
            #html-info {
                top: 25vmin;
                left: 20vmin;
                position: absolute  ;
                width:  60vh;
                height: 30vh;
                border-radius: 2em;
                background: linear-gradient(to bottom right, hsl(0, 0%, 15%) 10%, hsl(0, 0%, 6%));
                transition: all 0.5s;
                opacity: 0;
            }
            #css-info {
                top: 15vmin;
                left: 75vmin;
                position: absolute  ;
                width:  73vh;
                height: 35vh;
                border-radius: 2em;
                background: linear-gradient(to bottom right, hsl(0, 0%, 15%) 10%, hsl(0, 0%, 6%));
                transition: all 0.5s;
            }
            #q-html {
                margin-top: 3vh;
                margin-left: 5vh;
            }
            #q-css {
                text-align: center;
                margin-top: 3vh;
                margin-bottom: 2vh;
            }
            
            #htmllang:hover ~ #html-info {
                opacity: 1;
                top: 20vmin;
            }
            #htmllang:hover ~ #css-info {
                opacity: 0;
                top: 25vmin;
            }
            #html-dot {
                animation: dotsc 0.5s alternate linear infinite;
            }
            
            @keyframes dotsc {
                from {transform: scale(1)}
                to {transform: scale(1.2)}
            }
            #work-cont2 {
                display: flex;
            }
            a:hover {
                transform: scale(1.1);
            }


#next-p {
    position: absolute;
    top: 58vmin;
    right:0%;
    font-size: 2.5vmax;
    color:rgb(250, 194, 40);
    padding: 0;
}
#back-p {
    position: absolute;
    top: 58vmin;
    left:0%;
    font-size: 2.5vmax;
    color:rgb(250, 194, 40);
    padding: 0;
}

.dot {
    /* top: 62.2vmin; */
    /* left: 40%; */
    width: 1vw;
    height: 1vw;
    background: rgb(250, 194, 40);
    border-radius: 50%;
    margin: auto;
}


.line {
    position: absolute;
    top: 63vmin;
    height: 0.2vw;
    background: rgb(250, 194, 40);
}
#line1 {
    left: 40%;
    width: 120vmin;
}
#line2 {
    left: 0;
    width: 200vmin;
}
#line3 {
    left: 0;
    width: 36vmin;
}
.containlogo {
    width: max-content;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3vh;
}


.logo {
    width: 5vh;
    height: 5vh;
    border-radius: 10%;
}

#lg:hover {
    color: hsl(8, 100%, 57%);
}

#lg {
    color: rgb(250, 194, 40);
    font-size: 3vh;
}

.works {
    width: 20vh;
    height: 18vh;
    border-radius: 2em;
    box-shadow: 0.5vh 0.5vh rgb(250, 194, 40);

}

#imgwork1 {
    background: url("https://cdn.discordapp.com/attachments/970961770611085314/979324230451744768/unknown.png") center;
    background-size: cover;
    

}
#imgwork2 {
    background: url("https://cdn.discordapp.com/attachments/970961770611085314/978930352020140052/unknown.png") center;
    background-size: cover;
    
}
#imgwork3 {
    background: url("https://cdn.discordapp.com/attachments/970961770611085314/978931329854996480/unknown.png") center;
    background-size: cover;
    
}